<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.lucheng.server.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="top.lucheng.server.pojo.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="balance" column="balance" jdbcType="INTEGER"/>
            <result property="registerDate" column="register_date" jdbcType="TIMESTAMP"/>
            <result property="level" column="level" jdbcType="TINYINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,nickname,avatar,
        balance,register_date,level,
        status
    </sql>
</mapper>
