<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.lucheng.server.mapper.UserAuthMapper">

    <resultMap id="BaseResultMap" type="top.lucheng.server.pojo.UserAuth">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <id property="uid" column="uid" jdbcType="INTEGER"/>
            <result property="identityType" column="identity_type" jdbcType="VARCHAR"/>
            <result property="identifier" column="identifier" jdbcType="VARCHAR"/>
            <result property="credential" column="credential" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,uid,identity_type,
        identifier,credential
    </sql>
</mapper>
